.catch-phrase
  color: whitesmoke
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr
  grid-template-areas: 'left mid top' 'left mid right'
  .right-top-section
    display: flex
    justify-content: center
    .right-top-section-wrapper
      padding: 0 1em 0 1em
      grid-area: top
      color: black
      font-size: 5em
      line-height: 80px
      font-weight: bold
      height: fit-content
      p
        margin: 2rem 0
  .middle
    display: flex
    flex-direction: column
    align-items: center
    grid-area: mid
    background: #1A120B
    img
      width: 50%
      max-width: 300px
      margin-top: 2em
  .left
    background: #1A120B
    grid-area: left
    .left-wrapper
      margin-top: 2em
      margin-left: 2em
      //margin: 2em auto
      //width: 80%
    h2
      margin: 0
      margin-bottom: 3rem
      font-weight: bold
      font-size: 4em
      line-height: 70px
  .right-bottom-section
    background: #1A120B
    grid-area: right
    display: flex
    justify-content: center
    .landing-icon
      width: 55%
    .right-bottom-wrapper
      display: flex
      align-items: center
      justify-content: center